<!DOCTYPE html>
<html>

<head>
	<title>Geolocation</title>

	<script type="../text/javascript" src="../engine1/jquery.js"></script>


	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<link rel="stylesheet" href="CSS/index.css" />
	<link href="../Content/Bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../Content/Custom/sb-admin-2.css" rel="stylesheet" type="text/css" />
	<link href="../Content/Fonts/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="../Content/datatable/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="../Content/datatable/responsive.dataTables.css" rel="stylesheet" type="text/css" />
	<style>
		html,
		body,
		#map-canvas {
			height: 100%;
			width: 100%;
			margin: 0px;
			padding: 0px position:absolute !important;
			top: 0px;
			righ: 0px;
			left: 0px !important;
		}
	</style>
	<script language="javascript" src="../js/jquery-1.7.2.min.js"></script>


	<script type="text/javascript" src="../cordova.js"></script>
	<script src="../js/jquery.min.js"></script>

	<script language="javascript" src="../js/fancywebsocket.js"></script>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

	<script>
		var map;
		var marker;

		function initialize() {
			var mapOptions = {
				zoom: 15,//zoom empieza el mapa
			};

			map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);//creamos un nuevo objeto de las librerias

			// Try HTML5 geolocation
			if (navigator.geolocation) //si acepta la geolocalizacion
			{
				navigator.geolocation.getCurrentPosition(function (position) {
					var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);//generamos una nueva posicion en 
					//formato  latitude,longitude

					var goldStar = {//creamos las propiedades para un nuevo marcador
						path: google.maps.SymbolPath.CIRCLE,
						strokeColor: '#276ED0',
						fillColor: '#276ED0',
						fillOpacity: .9,
						strokeWeight: 1,
						scale: 6,
					};
					var marker = new google.maps.Marker({//creamos un nuevo marcador con las propiedades de goldstar
						position: pos,//lo posicionamos con alguna ubicacion
						icon: goldStar,//con las propiedades previemente creadas
						draggable: true,//le dmos la propiedad de arrastrar el marcador
						animation: google.maps.Animation.DROP,//propiedad de animacion
						map: map,
					});

					map.setCenter(pos);//pocisionamos el marcador en el centro


				}, function () //excepciones
					{
						handleNoGeolocation(true);
					});
			}
			else {
				// Browser doesn't support Geolocation
				handleNoGeolocation(false);
			}
		}

		var latitud = "10.4119661";
		var longitud = "-75.5208914";

		function animar()//funcion crea un nuevo marcador en el mapa
		{

			navigator.geolocation.getCurrentPosition(function (position) {

				var ruta = window.localStorage.getItem("ruta");

				setTimeout(traerUbicacion(ruta), 10000);
				//alert ("latitud:  "+latitud);
				//		alert ("longitud:  "+longitud);
				//graficamos la ubicacion de la ruta
				var pos = new google.maps.LatLng(latitud, longitud);

				//	var pos = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);

				map.panTo(pos);

				var goldStar = {
					path: google.maps.SymbolPath.CIRCLE,
					strokeColor: '#FF4E51',
					fillColor: '#FF4E51',
					fillOpacity: .9,
					strokeWeight: 1,
					scale: 5,
				};
				//var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

				var iconBase = '../img/school2.png';
				var iconBase2 = '../img/bus.png';

				if (latitud == "10.4119661") {
					var marker = new google.maps.Marker({
						position: pos,
						//icon: iconBase + 'library_maps.png',
						icon: iconBase,
						//			animation: google.maps.Animation.DROP, // este es el que va
						draggable: true,
						map: map
					});

				} else {
					var marker = new google.maps.Marker({
						position: pos,
						icon: iconBase2,
						//	icon: goldStar,
						//animation: google.maps.Animation.DROP,
						draggable: true,
						title: "Hello World!",
						map: map
					});
				}

				var options = {//opciones de la nueva pocision
					map: map,
					position: pos,
				};


				// alert ("latitude: "+position.coords.latitude+" - longitude: "+position.coords.longitude);




				setMapOnAll(null);
				send(position.coords.latitude + "," + position.coords.longitude);	//enviamos al socket la nueva pocision	  
				//var infowindow = new google.maps.InfoWindow(options);ventana con informacion
				map.setCenter(options.position);//pocisionamos el mapa al centro de la nueva locacion

			});
		}

		function traerUbicacion(ruta2) {


			// Llamamos a las coordenadas de la Ruta
			$.ajax({
				type: "POST",
				url: "http://69.175.103.163/~mariocorpas/ruta/traerCoordenadas.php",
				data: ({ ruta: ruta2 }),
				cache: false,
				dataType: "text",
				success: Enviamos3
			});
		}

		function Enviamos3(data) {
			if (data == 1) {
				alert("Error al traer Coordenadas!!!");
			} else {
				var coordenadas = data.split("|");
				latitud = coordenadas[0];
				longitud = coordenadas[1];
				titulo = coordenadas[2];
				descrip = coordenadas[3];

				/////////////// Este es el que manda las notificaciones  ///////////////////////////////////////////
				/*cordova.plugins.notification.local.schedule({
						 id: 1,
						 title: titulo,
						 text: descrip
					    
					 });*/
				///////////////////////////////////////////////////////////////////////////////////	


				showMessage(data, null, "Warning", "Warning");
				//	latitud = data.substring(0,10);
				//	longitud = +data.substring(10);

				//window.localStorage.setItem("identificacion", identificacion);
				//window.location='ElegirCiudad.html';

			}


		}

		function showMessage(message, callback, title, buttonName) {

			title = title;//|| "default title";
			buttonName = buttonName;// || 'OK';

			//  if(navigator.notification && navigator.notification.alert){

			navigator.notification.alert(
				message,    // message
				callback,   // callback
				title,      // title
				buttonName  // buttonName
			);

			/*  }else{
	  
				  alert(message);
				  callback();
			  }*/

		}



		function handleNoGeolocation(errorFlag) {
			if (errorFlag) {
				var content = 'Error: The Geolocation service failed.';
			}
			else {
				var content = 'Error: Your browser doesn\'t support geolocation.';
			}

			var options = {
				map: map,
				position: new google.maps.LatLng(60, 105),
				content: content
			};

			var infowindow = new google.maps.InfoWindow(options);
			map.setCenter(options.position);
		}


		google.maps.event.addDomListener(window, 'load', initialize);

		//setTimeout(function(){
		//animar()}, 5000);//cada 5 segundos extraemos la ubicacion nuevamente

		function pocision(pos) {
		}

		/*
		window.onfocus=function(event)
		{
			if(event.explicitOriginalTarget===window)
			{
				cargarnotificacionesprueba(animar());
			}
		}
		 */

		var timestamp = new Date().getTime();//si el usuario cambia de ventana, al momento de regresar el foco a nuestra
		//aplicacion lanzara la nueva ubicacion
		function checkResume() {
			var current = new Date().getTime();
			if (current - timestamp > 100) {
				var event = document.createEvent("Events");
				event.initEvent("focus", true, true);
				document.dispatchEvent(event);
			}
			timestamp = current;
		}

		window.setInterval(checkResume, 1);
		document.addEventListener("focus", function () {
			setTimeout(animar, 10000);
			// animar();
		}, false);

	</script>
</head>

<body>
	<div class="panel-body navheader">
		<img id="imgLogoSmall" src="../Content/Custom/img/logo-small.png" />
	</div>
	<div class="col-lg-12">
		<div class="alert-box alert-success" id="msjRequerido"></div>
	</div>

	<div id="map-canvas"> </div>
	<nav class="navbar navbar-default navbar-fixed-bottom ">

		<div id="divTool" class="container panel-body navfooter">

			<a href="Inbox.html" type="button" class="btnOption">
				<img src="../Content/Custom/img/icon-alerta.png" width="45px" height="60px" />
			</a>

			<a href="MapaAcudiente.html" type="button" class="btnOption">
				<img src="../Content/Custom/img/icon-mapa-lg.png" width="49px" height="60px" />
			</a>

			<a href="InfoAcudiente.html" type="button" class="btnOption">
				<img src="../Content/Custom/img/icon-info.png" width="30px" height="60px" />
			</a>

		</div>
	</nav>
</body>

</html>